<div class="center hero-unit">
  <h1>Welcome to Performo</h1>
  <h2>Turn your backyard into a venue!</h2>
  <%= link_to "Browse Listed Bands!", performers_path, class: "btn btn-large btn-primary" %>
</div>
